<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VCV Porfolio</title>
 </head>
    <body>
             <header>
                 <h1>Vien C. Villanueva</h1>
                 {% include nav.html %}
             </header>   
            {{content}}
             <footer>
                 <p>&copy; 2020 Vien C. Villanueva</p>
             </footer>
    </body>
</html>